<div class="row">
  <div class="col">
    <h2>مدارس ندوة الشرق الاهلية</h2>
    <div class="text">
      إن مدارس ندوة الشرق الأهلية بفروعها ( وطنى – عالمي ) هى مؤسسة تعليمية؛ تقدم خدمات تربوية ذات جودة عالية بأيدي خبراء من حملة المؤهلات العليا والماجستير والدكتوراه في التربية والحاصلين على أرفع الأوسمة التربوية العالمية في سياق بيئة جاذبة تدار
      بروح الفريق الواحد، ركيزتها متعلم نشط ؛ غايتها خريج نافع لدينه ووطنه وأهله ونفسه.
    </div>
    <ul>
      <li>
        <a href="#"><img src="./layout/images/twitter-icon.png" /></a>
      </li>
      <li>
        <a href="#"><img src="./layout/images/google-icon.png" /></a>
      </li>
      <li>
        <a href="#"><img src="./layout/images/facebook-icon.png" /></a>
      </li>
    </ul>
  </div>

  <div class="col">
    <h2>روابط مفيدة</h2>
    <ul>
      <li><a href="#">الرئيسية</a></li>
      <li><a href="#">نبذة عنا</a></li>
      <li><a href="#">الخدمات</a></li>
      <li><a href="#">المقالات</a></li>
    </ul>
  </div>

  <div class="col">
    <h2>الدعم</h2>
    <ul>
      <li><a href="#">الاسئلة المتكررة</a></li>
      <li><a href="#">الشروط الاحكام</a></li>
      <li><a href="#">السياسة والخصوصية</a></li>
      <li><a href="#">تواصل معنا</a></li>
    </ul>
  </div>

  <div class="col">
    <h2>التواصل</h2>
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-location-dot"></i>
          الرياض – حي النظيم – شارع الطرفة
        </a>
      </li>
      <li>
        <a href="#">
          <i class="far fa-envelope"></i>
          info@saaotf.com
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-phone-filp"></i>
          (+966) 0511309037
        </a>
      </li>
    </ul>

    <h2>الدعم عبر الإنترنت</h2>
    <form>
      <input type="text" name="email" id="email" placeholder="البريد الالكتروني" />
      <button><i class="far fa-paper-plane"></i></button>
    </form>
  </div>
</div>

<div class="copyRight">
  <ul>
    <li><a href="#">سياسة الخصوصية</a></li>
    <li><a href="#">السروط والاحكام</a></li>
  </ul>
  <ul>
    <li><b>جميع الحقوق محفوظة</b></li>
    <li><b>© حقوق الطبع والنشر</b></li>
    <li><b>Future Systems and applications</b></li>
  </ul>
  <ul>
    <li>تم بواسطة <a href="#">SAAOTF</a></li>
  </ul>
</div>